<?xml version="1.0"?>

<launch>
  <arg name="port" default="/tmp/ttyUR" />

  <node name="robotiq_2f_gripper_action_server" pkg="robotiq_2f_gripper_action_server"
    type="robotiq_2f_gripper_action_server_node" output="screen">

    <param name="min_gap" type="double" value="0.0" />
    <param name="max_gap" type="double" value="0.8" />
    <param name="min_effort" type="double" value="20.0" />
    <param name="max_effort" type="double" value="235.0" />
    <param name="default_effort" type="double" value="100.0"/>
    <param name="action_server_name" type="str" value="gripper_controller/gripper_cmd" />
    <param name="control_topic" type="str" value="robotiq_2f_85_gripper/control" />
    <param name="state_topic" type="str" value="robotiq_2f_85_gripper/state" />
    <param name="joint_states_topic" type="str" value="joint_states" />
    <param name="joint_name" type="str" value="finger_joint" />

  </node>

  <node name="robotiq_2f_gripper_rtu_control" pkg="robotiq_2f_gripper_control"
    type="Robotiq2FGripperRtuNode.py" output="screen">
    <param name="port" type="str" value="$(arg port)"/>
    <param name="control_topic" type="str" value="robotiq_2f_85_gripper/control" />
    <param name="state_topic" type="str" value="robotiq_2f_85_gripper/state" />
  </node>

</launch>